/** TABLE STYLING **/
.m-b-15px {
  margin-bottom: 15px;
}
.w-5-pct {
  width: 5%;
}
.w-10-pct {
  width: 10%;
}
.w-15-pct {
  width: 15%;
}
.w-20-pct {
  width: 20%;
}
.w-30-pct {
  width: 30%;
}
.display-none {
  display: none;
}
.padding-bottom-2em {
  padding-bottom: 2em;
}
.width-30-pct {
  width: 30%;
}
.width-40-pct {
  width: 40%;
}
.overflow-hidden {
  overflow: hidden;
}
.margin-right-1em {
  margin-right: 1em;
}
.right-margin {
  margin: 0 0.5em 0 0;
}
.margin-bottom-1em {
  margin-bottom: 1em;
}
.margin-zero {
  margin: 0;
}
.text-align-center {
  text-align: center;
}
.float_left {
  float: left;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #efefef;
}

/* Curved table */
.table-curved {
  border-collapse: separate;
  border: solid #ddd 1px;
  border-radius: 6px;
  border-left: 0px;
  border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
  border-bottom: 0px;
  border-top: solid #ddd 1px;
}
.table-curved td,
.table-curved th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
  border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
  border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
  border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
  border-bottom-right-radius: 6px;
}
/* Curved table */
.table-split {
  width: 75%;
  float: right;
}
/* ICON IN TABLE */
.glyphicon.glyphicon-sort-by-alphabet,
.glyphicon.glyphicon-sort-by-order {
  color: #076ec3;
  margin: 0 0 0 15px;
  font-size: 16px;
  cursor: pointer;
}
/** TABLE STYLING **/

/** FONTS  **/
/* Needed when font is removed form google font database */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto_bold";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Titillium bold";
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf") format("ttf");
}
/* Needed when font is removed form google font database */

h1,
h3 {
  font-family: "titillium web", sans-serif;
  color: #707070;
}
h1 {
  font-weight: bold;
}
p {
  font-family: "Roboto", sans-serif;
}
/** FONTS **/

/** Navigation OVERRIDES **/
li {
  list-style: none;
  float: left;
  padding: 10px;
}
.navbar-brand > img {
  width: 100px;
  margin-top: 0px;
}
.navbar-default {
  background-color: #d8d8d8;
  margin: -2px;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-family: "Roboto", sans-serif;
}
.top-bar{
  height: 60px;
}
/** Navigation **/

.page-header {
  border-bottom: none;
}

/** BUTTONS **/
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #076ec3;
  border-color: #076ec3;
}
.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus {
  background-color: #f2c76c;
  border-color: #f2c76c;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:active:focus {
  background-color: #c3072b;
  border-color: #c3072b;
}
.create-book-button,
.create-book-button:hover {
  color: white;
  background-color: #076ec3;
  border-color: #076ec3;
}
.create-book-button-confirm,
.create-book-button-confirm:hover {
  color: white;
  background-color: #439f32;
  border-color: #439f32;
  float: right;
}
.btn-confirm,
.btn-confirm:hover,
.btn-confirm:active,
.btn-confirm:focus,
.btn-confirm:active:focus {
  color: white;
  background-color: #439f32;
  border-color: #439f32;
  margin: 10px 0px;
}
.button-margin {
  margin-top: -75px;
}
.buttons {
  margin: 5px 0px;
}
.change-image{margin: 20px 0 0 0;}

input[type="file"] {
  color: #707070;
  background-color: #efefef;
  border-color: #efefef;
}
/** BUTTONS **/

/** ICONS **/
.glyphicon-search {
  color: #076ec3;
}
/** ICONS **/

/* SEARCH BAR */
.search-bar {
  padding-bottom: 25px;
}

.search-bar input {
  height: 33px;
}

/** SEARCH BAR **/

/* Form Styling */
textarea {
  resize: vertical;
}
/* Form Styling */

.read-one-book-image {
  float: left;
}

/* Filters */
#filter-list {
  margin-left: 10px;
}
#myBtnContainer {
  width: 100%;
  float: left;
  margin: 0px 30px 30px 0px;
}
.filterDiv {
  background-color: #2196f3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
  float: left;
}
.show_content {
  display: block;
}
.container_filter {
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
}

/* Style the buttons */
.btnfilter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btnfilter:hover {
  background-color: #ddd;
}
.btnfilter.active {
  background-color: #666;
  color: white;
}

/* UPDATE HEADING */
.glyphicon.glyphicon-arrow-right {
  font-size: 20px;
}
input[type="file"] {
  display: none;
}